<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @quiz.lesson_id %>
</p>

<% @questions.each do |question| %>
<h2><%= question.question_text %></h2>

<br/>
<% end %>

<br/>
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>

<h2><%= @questions.count %></h2>
<%= link_to 'Take Test', questions_path %>

