<h1>Listing user_answers</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Useranswertext</th>
      <th>Attempt</th>
      <th>User</th>
      <th>Correct</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_answers.each do |user_answer| %>
      <tr>
        <td><%= user_answer.question_id %></td>
        <td><%= user_answer.userAnswerText %></td>
        <td><%= user_answer.attempt_id %></td>
        <td><%= user_answer.user_id %></td>
        <td><%= user_answer.correct %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

