<h1>Listing alphabets</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Explanation</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alphabets.each do |alphabet| %>
      <tr>
        <td><%= alphabet.symbol %></td>
        <td><%= alphabet.explanation %></td>
        <td><%= alphabet.course %></td>
        <td><%= link_to 'Show', alphabet %></td>
        <td><%= link_to 'Edit', edit_alphabet_path(alphabet) %></td>
        <td><%= link_to 'Destroy', alphabet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alphabet', new_alphabet_path %>
