<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @lesson.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@lesson.image_url, :width => 600) if @lesson.image.present? %>
</p>

<h1><p> <%= @lesson.title %></p></h1>
<% @posts.each do |post| %>
<% if post.lesson_id == @lesson.id %>
<p> <%= post.title %></p><p> ^^ post title </p>
<p> <%= post.body %></p><p> ^^ post body </p>

<% end %>
<% end %>

<p>
<h2><%= @lesson.section.title %></h2>
<h1><%= @lesson.course.title %></h2>
<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
