
<p id="notice"><%= notice %></p>

<div class="col-xs-12 lesson-title">
  <h1>Lesson Title:
  <%= @lesson.title %>
  </h1>
  <strong>Body:</strong>
  <%= @lesson.body %>
</div>


<% @posts.each do |post| %>
<% if post.lesson_id == @lesson.id %>
<% if post.alignment == 'left' %>
<div class="row">
  <div class="col-xs-6">
    <span class="left-column"> <%= image_tag(post.image_url, :width => 250) if post.image.present? %></span>
  </div>
  <div class="col-xs-6">
<h3> <%= post.title %></p><p> ^^ post title </h3>
<p> <%= post.body %></p><p> ^^ post body </p>
  </div>
</div>
<% else %>
   <div class="row">
   <div class="col-xs-6">
<span class="left-column"><h3> <%= post.title %></p><p> ^^ post title </h3>
     <p> <%= post.body %></p><p> ^^ post body </p></span>
  </div>
     <div class="col-xs-6">
    <p> <%= image_tag(post.image_url, :width => 250) if post.image.present? %></p>
  </div>
</div>
<% end %>
<% end %>
<% end %>
<br/>
  
  <div id="dialog" title="" style="display:none;">
      <h1><%= link_to 'Take Quiz', question_path %></h1>
  </div>