<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @lesson.body %>
</p>

<p>
  <strong>Image (ie alphabet):</strong>
  <%= image_tag(@lesson.image_url, :width => 600) if @lesson.image.present? %>
</p>

<% @posts.each do |post| %>
<% if post.lesson_id == @lesson.id %>
<% if post.alignment == 'left' %>
<div class="row">
  <div class="col-xs-6">
    <p> <%= image_tag(post.image_url, :width => 250) if post.image.present? %></p>
  </div>
  <div class="col-xs-6">
<h3> <%= post.title %></p><p> ^^ post title </h3>
<p> <%= post.body %></p><p> ^^ post body </p>
  </div>
</div>
<% else %>
   <div class="row">
   <div class="col-xs-6">
<h3> <%= post.title %></p><p> ^^ post title </h3>
<p> <%= post.body %></p><p> ^^ post body </p>
  </div>
     <div class="col-xs-6">
    <p> <%= image_tag(post.image_url, :width => 250) if post.image.present? %></p>
  </div>
</div>
<% end %>
<% end %>
<% end %>
<br/>

<h1><%= link_to 'Take Quiz', question_path %></h1>