<p id="notice"><%= notice %></p>
<div class="course-index">
  <div class="course-header">
<h1>
  <%= @course.title %>
</h1>
  </div>
  <div class="view-alphabet">
    <span><%= link_to 'View the alphabet:', alphabet_path %></span>    <span class="practice">Practice / Level up</span>
  </div>
<div class="headers"><h2>Library</h2></div>


<% @sections.each do |section| %>
<h2><%= section.title %></h2>
<% @lessons.each do |lesson| %>
  <% if lesson.section_id == section.id %>
    <div>
      Lesson: <%= link_to lesson.title, :controller=>'lessons', :id=>lesson.id, :action=>'show' %>
    </div>
  <% end %>
  
 
<% end %>
<% end %>
 

</div>