<p id="notice"><%= notice %></p>

<h1>
  <strong>Title:</strong>
  <%= @course.title %>
</h1>
<p> View the alphabet:    Practice / Level up</p>
<p>
  <strong>Body:</strong>
  <%= @course.body %>
</p>


<% @sections.each do |section| %>
<h1>Section: <%= section.title %></h1>
<% @lessons.each do |lesson| %>
<% if lesson.section_id == section.id %>
<p> Lesson: <%= link_to lesson.title, :controller=>'lessons', :id=>lesson.id, :action=>'show' %></p>

<% end %>
<% end %>
<% end %>
 

