<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @course.body %>
</p>

<% @sections.each do |section| %>
<h1><p> <%= section.title %></p></h1>
<% @lessons.each do |lesson| %>
<% if lesson.section_id == section.id %>
<p> <%= lesson.title %><%= link_to 'Lesson', lesson_path %></p>
<p> <%= lesson.body %></p>

<% end %>
<% end %>
<% end %>
 

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> 

