<p id="notice"><%= notice %></p>

<p>
  <strong>Quiz:</strong>
  <%= @attempt.quiz_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @attempt.user_id %>
</p>

<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<%= link_to 'Back', attempts_path %>
